# Ignore list for Eagle, a PCB layout tool


#Zipfile
*.zip

# Backup files
*.s#?
*.b#?
*.l#?

# Eagle project file
# It contains a serial number and references to the file structure
# on your computer.
# comment the following line if you want to have your project file included.
eagle.epf

# Autorouter files
*.pro
*.job

# CAM files
*.$$$
*.GTP
*.GBP
*.GBO
*.MLN
*.GTL
*.G15L
*.G2L
*.GBL
*.OLN
*.GTO
*.GTS
*.GBS
*.DRD
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs
*.dri
*.drl
*.gpi
*.pls
*.info
*.eps
*.mnt
*.mnb

# file locks introduced since 7.x
*.lck

# NUMBERS sheet
*.numbers
*.gitignore
*.gitignore.swp
